@model ClubApp.Models.UserSetModel
@{
    ViewBag.Title = "账号设置";
}
<style>
    .diy-inline {
        display: inline-block;
        float: left;
    }
</style>
<fieldset class="layui-elem-field layui-field-title">
    <legend>账号设置</legend>
</fieldset>
@if (ViewBag.Msg != null)
{
    <blockquote class="layui-elem-quote layui-quote-nm">
        @ViewBag.Msg
    </blockquote>
}

@using (Html.BeginForm("UserSet", "User", FormMethod.Post, new { @class = "layui-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="layui-form-item">
        @Html.LabelFor(m => m.Email, new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            @Html.TextBoxFor(m => m.Email, new { @class = "layui-input", @readonly = true })
        </div>
        <div class="layui-form-mid layui-word-aux">
            开发者很累，此项暂时不支持更改
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelFor(m => m.Phone, new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            @Html.TextBoxFor(m => m.Phone, new { @class = "layui-input", @readonly = true })
        </div>
        <div class="layui-form-mid layui-word-aux">
            开发者很累，此项暂时不支持更改
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelFor(m => m.RealName, new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            @Html.TextBoxFor(m => m.RealName, new { @class = "layui-input" ,placeholder="输入你的学号/职工号"})
        </div>
        <div class="layui-form-mid layui-word-aux">
            @Html.ValidationMessageFor(m => m.RealName, "", new { @class="text-danger"})
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelFor(m => m.Cologe, new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            <select name="Cologe" lay-verify="required">
                <option value="0">请选择你的学院</option>
                @foreach (var item in Model.Cologes)
                {
                    if (item.Id  == Model.Cologe)
                    {
                        <option value="@item.Id" selected="">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">
            若未找到你的学院，请联系管理员
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelFor(m => m.Grade, new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            <select name="Grade">
                <option value="0000">请选择年级</option>
                <option value="2015" selected=@(Model.Grade==2015)>2015级</option>
                <option value="2016" selected=@(Model.Grade==2016)>2016级</option>
                <option value="2017" selected=@(Model.Grade==2017)>2017级</option>
                <option value="2018" selected=@(Model.Grade==2018)>2018级</option>
                <option value="2019" selected=@(Model.Grade==2019)>2019级</option>
                <option value="2020" selected=@(Model.Grade==2020)>2020级</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="Grade2">
                <option value="">请选择所在班</option>
                <option value="1" selected=@(Model.Grade2=="1")>1班</option>
                <option value="2" selected=@(Model.Grade2=="2")>2班</option>
                <option value="3" selected=@(Model.Grade2=="3")>3班</option>
                <option value="4" selected=@(Model.Grade2=="4")>4班</option>
                <option value="5" selected=@(Model.Grade2=="5")>5班</option>
                <option value="6" selected=@(Model.Grade2=="6")>6班</option>
                <option value="7" selected=@(Model.Grade2=="7")>7班</option>
                <option value="8" selected=@(Model.Grade2=="8")>8班</option>
                <option value="9" selected=@(Model.Grade2=="9")>9班</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">@Html.DisplayNameFor(m => m.Label)</label>
        <div class="layui-input-block">
            <input type="checkbox" name="like" title="文学" checked=@(Model.Labels.Contains("文学"))>
            <input type="checkbox" name="like" title="编程" checked=@(Model.Labels.Contains("编程"))>
            <input type="checkbox" name="like" title="游戏" checked=@(Model.Labels.Contains("游戏"))>
            <input type="checkbox" name="like" title="体育" checked=@(Model.Labels.Contains("体育"))>
            <input type="checkbox" name="like" title="社交" checked=@(Model.Labels.Contains("社交"))>
            <input type="checkbox" name="like" title="音乐" checked=@(Model.Labels.Contains("音乐"))>
            <input type="checkbox" name="like" title="科学" checked=@(Model.Labels.Contains("科学"))>
            <input type="checkbox" name="like" title="商务" checked=@(Model.Labels.Contains("商务"))>
            <input type="checkbox" name="like" title="男女" checked=@(Model.Labels.Contains("男女"))>
            <input type="button" class="layui-btn layui-btn-sm layui-btn-primary" onclick="addlabel()" value="更多" />
            @Html.TextBoxFor(m => m.Label, new { @class = "layui-input layui-hide" })
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="demo2">保存</button>
        </div>
    </div>
}
<script>
    layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(demo2)', function (data) {
            if ($('input[name="like"]:checked').length > 3) {
                layer.msg("兴趣标签最多可选择3个");
                return false;
            }
            var label = "";
            $('input[name="like"]:checked').each(function () {
                label = label + "," + this.title;
            });
            $("#Label").val(label);
        });
    });
    function addlabel() {
        layer.msg('暂不支持自定义标签');
    }
</script>