<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title | SYS.Clubs</title>
    <link rel="stylesheet" href="~/Content/layui/css/layui.css">
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <style>
        .text-danger{
            color:red;
        }
        .layui-logo a{
           color:#009688;
        }
        .green{
            color:green;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">
                @Html.ActionLink("社团综合管理系统", "Index", "Home")             
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">变量控制</a>
                    <dl class="layui-nav-child">
                        <dd>@Html.ActionLink("申请递交通道", "ApplyType", "Admin")</dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="layui-nav-item layui-nav-itemed">
                            <a class="" href="javascript:;">超级管理员控制</a>
                            <dl class="layui-nav-child">
                                <dd id="a1">@Html.ActionLink("用户账号池", "UserNumber", "Admin")</dd>
                                <dd id="a2">@Html.ActionLink("社团账号池", "ClubNumber", "Admin")</dd>
                                <dd id="a3">@Html.ActionLink("社团类型管理", "ClubType", "Admin")</dd>
                            </dl>
                        </li>
                    }
                    @if (User.IsInRole("Admin")||User.IsInRole("BAdmin"))
                    {
                        <li class="layui-nav-item layui-nav-itemed">
                            <a class="" href="javascript:;">管理员控制</a>
                            <dl class="layui-nav-child">
                                <dd id="b1">@Html.ActionLink("社团创建审批", "AuditClub", "BAdmin")</dd>
                                <dd id="b2">@Html.ActionLink("社团活动审批", "ClubNumber", "Admin")</dd>
                                <dd id="b3">@Html.ActionLink("系统公告", "ClubType", "Admin")</dd>
                            </dl>
                        </li>
                    }

                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">社团</a>
                        <dl class="layui-nav-child">
                            <dd id="c1">@Html.ActionLink("社团查询", "Index", "Clubs")</dd>
                            <dd id="c2">@Html.ActionLink("加入社团", "JoinClub", "Clubs")</dd>
                            <dd id="c3">@Html.ActionLink("创建社团", "ApplyClub", "Clubs")</dd>
                            <dd id="c4">@Html.ActionLink("管理我的社团", "MyClubs", "Clubs")</dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">我是社长</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                @RenderBody()
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © @DateTime.Now.Year <i class="layui-icon layui-icon-engine"></i> imwhuan - 社团综合管理系统
        </div>
    </div>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
</body>
</html>