@model ClubApp.Models.ApplyClubSubModel
@{
    ViewBag.Title = "提交申请";
}
<style>
    .form-diy-r {
        padding: 9px 15px;
        display: block;
    }
</style>
<fieldset class="layui-elem-field layui-field-title">
    <legend>填写</legend>
</fieldset>
@using (Html.BeginForm("ApplyClubSubmit", "Clubs", FormMethod.Post, new { @class = "layui-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="layui-form-item">
        <div class="layui-inline">
            @Html.LabelFor(m => m.ClubId, new { @class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.ClubId, new { @class = "layui-input", @readonly = "true" })
            </div>
        </div>
        <div class="layui-inline">
            @Html.LabelFor(m => m.Name, new { @class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.Name, new { @class = "layui-input", @readonly = "true" })
            </div>
        </div>
        <div class="layui-inline">
            @Html.LabelFor(m => m.User, new { @class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.User, new { @class = "layui-input", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            @Html.LabelFor(m => m.Type, new { @class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.Type, new { @class = "layui-input", @readonly = "true" })
            </div>
        </div>
        <div class="layui-inline">
            @Html.LabelFor(m => m.State, new { @class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.State, new { @class = "layui-input", @readonly = "true" })
            </div>
        </div>
        <div class="layui-inline">
            @Html.LabelFor(m => m.CreateDate, new { @class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.CreateDate, new { @class = "layui-input", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelFor(m => m.ShortDesc, new { @class = "layui-form-label" })
        <div class="layui-input-block">
            @Html.TextBoxFor(m => m.ShortDesc, new { @class = "layui-input", @readonly = "true" })
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            @Html.LabelFor(m => m.HeadImg, new { @class = "layui-form-label" })
            <div class="layui-input-inline">
                <div class="layui-upload-drag" style="padding:0" id="uploadimg">
                    <img src="~/@Model.HeadImg" id="clubimg" style="max-height:150px;max-width:150px" />
                </div>
                <div class="layui-input-inline layui-hide">
                    <input type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="upimgbtn" value="确认" />
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelFor(m => m.Desc, new { @class = "layui-form-label" })
        <div class="layui-input-block">
            <textarea name="Desc" required lay-verify="required|maxlength" readonly placeholder="对该社团做个简单的介绍会更容易吸引同学参加哟（最大500字符）" class="layui-textarea">@(Model.Desc??"")</textarea>
        </div>
    </div>
    if (Model.State == "待提交")
    {
        <div class="layui-form-item">
            <label class="layui-form-label">申请理由<span style="color:red">*</span></label>
            <div class="layui-input-block">
                <textarea name="ApplyDesc" required lay-verify="required|maxlength" placeholder="请简述你创建社团的原因及意义（最大500字符）" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">附件<span style="color:red">*</span></label>
            <div class="layui-input-inline">
                <div class="layui-upload-drag" id="uploadDemo">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                </div>
            </div>
            <div class="layui-form-mid layui-word-aux">
                请将文档图片等材料打包压缩后上传（.zip/.rar/最大2M）<br />
                申请材料清单(<span class="text-danger">以下内容必须包括，否则申请不予通过</span>。可附上其他有效材料)：<br />
                <ul>
                    <li>《社团申请书.doc》阐述创建该社团的必要性</li>
                    <li>《社团创建初始人员名单.doc》列出预参与社团的人员信息，新社团成立最低参与人为[10]人</li>
                    <li>《社长（创建人）个人详细信息.doc》</li>
                </ul>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">已上传附件</label>
            <div class="layui-input-block">
                <a href="#" id="file_link" class="form-diy-r">无</a>
                <input type="text" id="file_upver" lay-verify="uprequired" name="ApplyFile" class="layui-input layui-hide" />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="submit" id="subbtn" class="layui-btn" lay-submit value="确认提交" />
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    }
    else
    {
<div class="layui-form-item">
    <label class="layui-form-label">申请材料</label>
    <div class="layui-input-block">
        <blockquote class="layui-elem-quote layui-quote-nm">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>密封线内 - 不准答题</legend>
            </fieldset>
        </blockquote>
    </div>
</div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            @Html.ActionLink("返回我的社团", "MyClubs", null, new { @class = "layui-btn" })
            <label class="form-diy-r layui-bg-red">不可执行提交的状态：@Model.State</label>
        </div>
    </div>
    }

    }
    <script>
        //Demo
        layui.use(['form', 'upload'], function () {
            var form = layui.form
                , upload = layui.upload;
            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
            form.verify({
                maxlength: function (value, item) {
                    if (value.length > 500) {
                        return '超过最大长度[500]个字符！'
                    }
                }
                , uprequired: function (value) {
                    if (value.length < 1) {
                        return '未上传审批文件的申请不允许提交'
                    }
                }
            })
            upload.render({
                elem: '#uploadimg'
                , url: '/Upload/ClubHeadImg'
                , auto: false //选择文件后不自动上传
                , bindAction: '#upimgbtn' //指向一个按钮触发上传
                , data: {
                    cid: function () {
                        return $("#ClubId").val();
                    }
                }
                , choose: function (obj) {

                    //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                    obj.preview(function (index, file, result) {
                        //示范一个公告层
                        layer.open({
                            type: 1
                            , title: '确认上传' //不显示标题栏
                            , closeBtn: false
                            , maxHeight:400
                            , shade: 0.8
                            , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                            , btn: ['确认', '取消']
                            , btnAlign: 'c'
                            , content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;"><img style="width:100%" src="' + result + '" id="clubimg1" /></div>'
                            , success: function (layero) {
                                $("#clubimg").attr("src", result);
                                var btn = layero.find('.layui-layer-btn');
                                btn.find('.layui-layer-btn0').click(function () {
                                    $("#upimgbtn").trigger('click');
                                })
                            }
                        });
                    });
                    ////


                    /////
                }
                , done: function (res) {
                    layer.msg(res.msg)
                }
            });
            //上传
            upload.render({
                elem: '#uploadDemo'
                , url: '/Upload/ApplyClubFile' //上传接口
                , accept: 'file'
                , exts: 'zip|rar|7z'
                , size: 2048
                , data: {
                    cid: function () {
                        return $("#ClubId").val();
                    }
                }
                , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                    layer.load(); //上传loading
                }
                , done: function (res) {
                    layer.closeAll('loading'); //关闭loading
                    if (res.code == 0) {
                        $("#file_link").attr("href", "../../" + res.src);
                        $("#file_link").html(res.name);
                        $("#file_upver").val(res.src)
                    }
                    else {
                        alert(res.msg);
                    }
                }
                , error: function (index, upload) {
                    alert("文件上传失败（非服务器异常）")
                }
            });
        });
    </script>
